.container__menu-title{
    color: white;
}

.container__menu-title > h1{
    padding: 5px 0;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    font-size: 150px;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

.container__menu-title hr{
    border-color: black;
    margin: 5px 0;
}