header{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

@media screen and (max-width: 800px) {
*{
  display: flex;
  max-width: 100%;
  justify-content: center;
}

  header{
    max-width: 100%;
  }

  body{
    padding: 0 10px;
    display: flex;
    max-width: 100%;
    justify-content: center;
  }
}