.container__menu-bar > ul{
    display: flex;
    flex-direction: row;
}

.container__menu-bar > ul > li{
    margin: 5px 15px;
    list-style: none;
}

a, span{
    text-decoration: none;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

@media screen and (max-width: 800px) {
    .container__menu-bar{
      padding: 0 10px;
      display: flex;
      max-width: 100%;
      justify-content: space-around;
    }
}