.container__content{
    border: 1px solid white;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.content__cover > img{
    width: 500px;
    min-width: 500px;
}

.content__title > h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    margin: 15px 0;
}

.content__description > p{
    color: grey;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;

    margin-top: 15px;
}

.content__button{
    margin: 15px 0;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
}

.content__button > a{

    text-decoration: none;
}