<div class="container d-flex flex-column justify-content-center align-items-center vh-100 py-4">

    <!-- Imagem de capa -->
    <div class="mb-4">
      <img src="{{ photoCover }}" class="img-fluid" style="max-width: 500px; min-width: 100px;" alt="Capa">
    </div>
  
    <!-- Título -->
    <div class="text-center">
      <a href="{{ contentTitle }}" class="text-decoration-none">
        <h1 class="fw-light mb-3">{{ contentTitle }}</h1>
      </a>
      <hr class="w-100">
    </div>
  
    <!-- Descrição -->
    <div class="text-center">
      <p class="text-muted fw-light mt-3">{{ contentDescription }}</p>
    </div>
  
    <!-- Botão voltar -->
    <div class="mt-4">
      <a href="" class="btn btn-outline-light">
        &laquo; Voltar
      </a>
    </div>
  
  </div>
  