<div class="d-flex align-items-center mb-3">

    <!-- Imagem -->
    <div class="d-flex mb-3">
      <img 
        [src]="photoCoverSmallCard" 
        alt="Small Card Image" 
        class="img-fluid"
        style="width: 400px; height: auto; object-fit: cover;"
      >
    </div>
  
    <!-- Título com espaçamento -->
    <div style="margin-left: 20px;">
      <h2 class="h6 mb-6">
        <a 
          [routerLink]="['content', Id]" 
          class="text-decoration-none text-white"
        >
          {{ titleSmallCard }}
        </a>
      </h2>
    </div>
  
  </div>
  
  <hr class="border-light my-3">
  